body {
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    display: block;
}

.topPenel{
    background-color: black;
    height: 40px ;
    font-weight: bold;
    padding: 5px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100% ;
    bottom: 20px;
    margin: 0px;
    overflow: hidden;

}
nav a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    padding: 5px;
    width: auto;
    height: auto;
}

#battlenetLogo{
    width: 80px;
    height: 30px;
    border: 25px;
    padding-top: 5px;
    float: left;
}

.choice{
    float: left;
    padding: 10px;
    
}

.topPenel :hover{
    color: white;
    opacity: 1;
}

#myaccount_link{
    padding: 10px;
    float: right;
    width: 100% auto;
    
}
.imgbc{
    width: 100% ;
}


.topsection{
    background-image: url("picture/WLK.gif");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 600px;
}

.topsection_text{
    padding-top: 220px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.topsection_text p{
    color: rgb(226, 151, 53);
    font-style: italic;
    
}

#donwnload_button{
    background-image: url("picture/redbutton.jpg");
    color: rgb(226, 151, 53);
    border: 2 whitesmoke;
    opacity: 0.9;
    width: 350;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#donwnload_button:hover{
    color: rgb(255, 255, 252);
    opacity: 1;
    cursor: pointer;
}

.button_download{
    border: 3px;
    border-color: white;
    cursor: pointer;
    opacity: 0.9;
}

.button_download:hover{
    border: 3px;
    cursor: pointer;
    opacity: 0.9;
}

.midsection{
    background-image: url("picture/wow3.jpg");
    background-repeat: no-repeat;
    background-position:center;
    width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
}
.midsection_text{
    font-weight: bold;
    font-size: large;
    padding-top: 3%;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
    text-align: center;
}
.midsection_text p{
    font-size: medium;
    text-indent: 10px;
    color: rgb(245, 174, 21);
    font-weight: 100;
}

.midsection_introduction{
    width: auto;
    height: auto;
    margin: 0px;
    padding-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.midsection_intro1{
    width: 300px;
    height: 300px;
    margin: 20px;
}

.midsection_intro2{
    width: 300px;
    height: 300px;
    margin: 20px;
}

.midsection_intro3{
    width: 300px;
    height: 300px;
    margin: 20px;
}


.midsection_intro1 h3, .midsection_intro2 h3, .midsection_intro3 h3{
    color: white;
    font-weight: 700;
    overflow:hidden
}
.midsection_intro1 p, .midsection_intro2 p, .midsection_intro3 p{
    font-style: italic;
    color: rgb(245, 174, 21);
    overflow:auto;
}

.midsection_intro1 img, .midsection_intro2 img, .midsection_intro3 img{
    opacity: 0.8;
    padding: 1px;
    border-style: solid;
    border-image: radial-gradient(rgb(255, 255, 255), silver) 20 / 10px;
    border-radius: 15%;
    overflow:auto;
}
/* .midsection_intro1 img:hover, .midsection_intro2 img:hover {
    opacity: 1;
} */



.midsection_intro1 :hover {
    text-decoration: underline;
    opacity: 1;
}

.midsection_intro2 :hover {
    text-decoration: underline;
    opacity: 1;
}
.midsection_intro3 :hover {
    text-decoration: underline;
    opacity: 1;
}

hr.solid {
    border-top: 2px solid rgb(143, 143, 143,0.7);
    width: 90%;
    /* max-width: 1000px; */
    float: left;
  }

.bottomsection{
    background-image: url("picture/horde_and_alliance.jpg");
    margin: -20px ;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 750px;
    color: rgb(234, 206, 94);  
    
}
.bottomsection_header{
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 3%;
    padding-left: 15%;
    position: relative;
}

.bottomsection_header h2{
    color: white;
    
}

.bottomsection_header p{
    font-style: italic;
    text-align: center;
    
}

.bottomsection_text{
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 3%;
    display: flex;
}

.bottomsection p{
    width: 230px;
    font-size: small;
    font-weight: 200;
    font-style: italic;
    color: antiquewhite;
}

.bottomsection_text_a{
    width: 300px;
    height: 300px;
    position: relative;
    padding-left: 6%;
    display: inline-block;
    
}

.bottomsection_text_b{
    width: 300px auto;
    height: 300px auto;
    padding-left: 6%;
    position: relative;
    display: inline-block;
    
}

.bottomsection_text_a img{
    opacity: 0.5;
    border-style: solid;
    border-image: radial-gradient(red, rgb(255, 20, 20)) 20 / 10px;
    border-radius: 15%;
    overflow:hidden
}

.bottomsection_text_b img{
    opacity: 0.5;
    padding: 1px;
    border-style: solid;
    border-image: radial-gradient(yellow, rgb(255, 161, 20)) 20 / 10px;
    border-radius: 15%;
    overflow:hidden
}


.bottomsection_text_a:hover{
    text-decoration: underline;
}

.bottomsection_text_b:hover{
    text-decoration: underline;
}

.bottomsection img:hover {
    transition: all 0.5s;
    opacity: 1;
    
} 



.Divider{
    border-top: 2px solid rgb(143, 143, 143,0.7);
    width: auto;
    /* max-width: 1000px; */
    
}

.footer{
    background-image: url("picture/footerBG.jpg");
    color: azure;
    height: 120px ;
    width: 100% auto;
    font-weight: bold;
    padding: 5px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 0px;
    position: relative;
}
footer {
    bottom: 0px;
    width: 100%;
}


footer a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

.footer p{
    font-size: small;
    color: rgba(255, 255, 255, 1);
    
}

#footerbattlenetLogo{
    width: 80px ;
    height: 30px ;
}

.footerchoice{
    padding: 10px;
} 


.footer :hover{
    color: white;
}


/* myaacount css*/
.container{
    background-image: url("https://bnetcmsus-a.akamaihd.net/cms/template_resource/3JKQEZFPNW1I1670881313770.webm");
    width: auto;
    height: 500px ;
    padding: 0px;
    position: relative;
    min-height: 90vh;
}

.myaccountform_bg{
    padding: 10%  0px 0px 40%;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    /* padding-bottom: 500px; */
}
.myaccount_btn{
    padding-top: 100px;
    padding-left: 100px;
    position: fixed;
}

.form_divider{
    border-top: 2px solid rgb(255, 255, 255);
    width: 500px;
    margin-left: -150px;
    padding-left: -50px;
    margin-bottom: 50px;
    position: relative;
}


.background-video{
    opacity: 0.7;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#usertable{
    position: fixed;
    opacity: 1;
    border-color: burlywood;
}

.login_button,.register_btn{
    border: 3px;
    border-color: white;
    cursor: pointer;
}

.login_button, .register_btn:hover{
    border: 3px;
    cursor: pointer;
    opacity: 1;
}
.gallery{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    position: relative;
    align-items: flex-start;
}
section {
    background-image: url("picture/bg_gallery.webp");
    width: 3000px auto;
    height: 3000px auto;
    /* background-repeat: no-repeat; */
    position: relative;
    margin: 0px;
    padding: 0px;
}

.gallery_media{
    width: 700px ;
    height: 400px ;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.gallery img{
    width: 600px ;
    height: 400px ;
    transform: scale(0.8);
}

.gallery img{
    opacity: 0.5;
    padding: 1px;
    border-style: solid;
    border-image: radial-gradient(yellow, rgb(255, 161, 20)) 20 / 10px;
    overflow:hidden
}


.gallery img:hover{
    transition: all 0.5s;
    opacity: 1;
}